<section id="section-portifolium" class="portifolium__background">
	<div class="portifolium" >
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="portifolium__h1 portifolium__h1--font"><span class="portifolium__h1--colorBlue">PRANCHAS DE SURF</span></h1>
				</div>
			</div>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
			  </ol>
			  <div class="carousel-inner carousel__transition">
			    <div class="carousel-item active">
			    	<div class="test__margin">
			    		<%= image_tag '1b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Stand Paddle Board</h5>
						<p>É a maior prancha de surf. O seu tamanho, largura e espessura permitem suportar com estabilidade o peso de uma pessoa de pé em qualquer circunstância, seja sobre a onda ou seja fora dela. Nesta enorme prancha, o surfista leva um remo flexível para se impulsionar e também para manobrar na onda. A Stand Paddle Board é uma excelente e divertida opção para os dias de surf com as ondas pequenas e com pouca força. </p>
					</div>
			    </div>
			    
		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '2b.png', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Longboard</h5>
						<p>É uma prancha de surf grande e de ponta redonda também conhecida como “prancha grossa”. Inspirada nos troncos havaianos, são as primeiras pranchas de surf, as que se usaram no início da expansão do surf. A Longboard é ideal para ondas pequenas e médias. Também pode ser usada para ondas grandes, mas apenas se o surfista tiver experiencia. Este tipo de prancha tem movimentos próprios como o Hang Five, o Hang Ten e o Drop Knee. </p>
					</div>
		    	</div>	

		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '3b.png', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Gun</h5>
						<p>Este tipo de prancha de surf, com ponta e cauda afiadas, o seu design afiado e longo faz com que acelerem muito e que sejam muito estáveis, o que as faz perfeitas para surfar grandes ondas. A Gun é uma prancha adequada para surfistas experientes.</p>
					</div>
		    	</div>

		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '4b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Malibu (Mini-Longboard)​</h5>
						<p>É um tipo de prancha de surf grande e de ponta redonda, mas um pouco mais pequena e manobrável que a Longboard, porém também permite fazer as manobras típicas da sua irmã. Pelo seu tamanho e espessura, a Malibu é uma boa opção para surfistas principiantes, mas também é uma boa opção para dias com ondas pequenas e de pouca força, ainda que sejas um surfista experiente. </p>
					</div>
		    	</div>	

		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '5b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Evolutiva</h5>
						<p>É um tipo de prancha de maior quer em tamanho e em espessura que as Shortboards, o que lhes dá uma flutuabilidade e estabilidade muito adequada para surfistas principiantes. Mas pela sua capacidade de manobra, podem também servir para surfistas mais avançados com vontade de se divertir rodopiando sobre as ondas. Além disso, o seu design com a ponta ligeiramente arredondada faz com que sejam mais fáceis de remar e surfar nas ondas desde o primeiro dia. A Evolutiva é a prancha mais indicada para se iniciar neste desporto que é o surf. </p>
					</div>
		    	</div>

		    		<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '6b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Shortboard</h5>
						<p>É o tipo de prancha mais comum e de design mais evoluído. São pranchas versáteis adequadas para todas as condições de ondas pois oferecem um bom equilíbrio entre velocidade e manobrabilidade. A Shortboard é o tipo de prancha de surf mais técnico, o que leva a que se tenha um nível médio de surf para poder usufruir de todas as suas possibilidades.</p>
					</div>
		    	</div>

		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '7b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Retro</h5>
						<p>Grossas, curtas e com muita superfície frontal, é um tipo de prancha inspirada no design dos anos 70, na época dourado do surf, com formas que podem resultar um pouco estranhas, acabadas em cauda de andorinha e com 1, 2, 3 e até 4 quilhas. As Retro movem-se bem nas ondas pequenas ou médias com pouca força, mas não são adequadas para ondas grandes ou muito ocas.</p>
					</div>
		    	</div>

		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '8b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Fish</h5>
						<p>Largas, curtas, com poucas curvas e cauda de andorinha, é um tipo de prancha de surf desenhado especialmente para surfar em ondas com pouca força, sendo pequenas e médias, pois flutuam muito bem sobre elas. Muito semelhantes a alguns modelos de pranchas do tipo Retro, as Fish são mais grossas que as Shortboard o que facilita ao remar e ao manobrar, sendo que também permite que deslizem muito sem ser necessário a onda ter força. Mas ao mesmo tempo não funcionam bem em ondas grandes ou ocas. </p>
					</div>
		    	</div>		

		    	<div class="carousel-item">
			    	<div class="test__margin">
			    		<%= image_tag '9b.jpg', class: 'portifolium d-block w-100 carousel__img'%>
			    	</div>
			    	<div class="carousel-caption d-none d-md-block carousel__background">
						<h5>Tow-in</h5>
						<p>Este tipo de prancha está desenhado para apanhar ondas arrastadas por uma mota de água. As Tow-in são pranchas mais pequenas e estreitas de todas as pranchas de surf e levam “footstraps” para a manter sempre segura aos pés, o que lhes dá um perfeito controlo nas manobras e uma grande estabilidade nas ondas grandes. Para usar este tipo de pranchas precisa-se um nível médio ou alto, e claro, alguém que conduza a mota de água.</p>
					</div>
		    	</div>					    
		  					     
			  </div>

		 


			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Anterior</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Próximo</span>
			  </a>
			</div>


	</div>
</section>